# This file may be used to create an environment using:
# conda create --name <name> --file <this_file>y --channel default --channel ucd-dnp --channel plotly
# platform: win-64
pandas
numpy
plotly
#plotly-orca
sodapy
nbformat
psutil